
.active {
   color: darkslategray;
   max-width: 300px;
   display: grid;
   grid-template-columns: 1fr 3fr;
}
.active span {
   
}
.active img {
   width: 50px;
   border-radius: 50%;
}

.message {
   background-color: darkseagreen;
   border-radius: 5px;
   padding: 5px;
}